body { font-family: Arial; background:#f4f4f4; padding:20px;}
header { background:#003366; color:white; padding:20px; text-align:center;}
table { width:80%; background:white; margin-top:20px; }
td,th { padding:10px; border:1px solid #ccc; }
#chatbot { position:fixed; bottom:10px; right:10px; background:white; padding:10px; border:1px solid #ccc;}
